[include]
    path = .gitconfig-base
[include]
    path = .gitconfig-{{DEFAULT_IDENTITY}}
[includeIf "gitdir:~/Projects/Personal/"]
    path = .gitconfig-personal
[includeIf "gitdir:~/Projects/Work/"]
    path = .gitconfig-work
